/* Fonte Usada */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Config Padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    outline: none;
}

body {
    background-color: #000;
    text-align: center;
}

img {
    width: 100%;
    margin-top: 1.5rem;
}

h1 {
    font-size: 54px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 1.5rem;

}

p {
    font-size: 25px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

/* Config Link a */
a {
    color: white;
    text-decoration: none;
    font-size: 29px;
    font-weight: 400;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

    a:hover {
        transition-duration: .4s;
        color: rgba(255, 255, 255, 0.39);
    }

    a:first-child {
        margin: 1rem;
    }

label {
    font-size: 33px;
    font-weight: 400;
    color: white;
    margin-bottom: 15px;
}

/* Config input */
input {
    width: 30vw;
    height: 5vh;
    border: 0;
    border-radius: 25px;
    background-color: rgba(144, 153, 149, 0.658);
    padding-left: 15px;
}

/* Config dos Botões */
button:hover {
    transform: translateY(-5px);
    transition-duration: 1s;
    box-shadow: 2px 4px 4px rgba(140, 119, 224, 0.37);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Menu */
#menu {
    display: flex;
    flex-direction: column;
}

    #linkMenu {
        display: flex;
        flex-direction: column;
    }

#textAndTitle {
    margin-top: 1.5rem;
}

/* Config da seção de inputs */
#sectionInput {
    margin: 2rem;
    text-align: left;
}

    #sectionInput #inputEmail {
        display: flex;
        flex-direction: column;
    }

    #sectionInput #inputSenha {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

/* Button 1*/
#buttonEntrar {
    width: 200px;
    height: 50px;
    font-size: 33px;
    font-weight: 400;
    align-items: center;
    border: 0;
    border-radius: 25px;
    background-color: rgba(140, 119, 224, 1);
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Botão 2 */
#buttonProvedor {
    width: 450px;
    height: 50px;
    font-size: 33px;
    font-weight: 400;
    align-items: center;
    border: 0;
    border-radius: 25px;
    background-color: rgba(140, 119, 224, 1);
    color: white;
    margin-top: 20px;
    cursor: pointer;
}